.mainmenu .leftmenu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftmenu button {
  margin-left: 10px;
}

.rightmenu button {
  margin-left: 10px;
}

.mainmenu .rightmenu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.table-row {
  height: 30px !important;
}
.img-c {
  height: 30px !important;
}

.btn{
  margin-left: 10px;
}
